<div id="disclaimer-section">
  <% if disclaimer %>
    <h2>Your Generated Disclaimer:</h2>
    <p><%= disclaimer.statement %></p>
  <% else %>
    <p>No disclaimer was generated.</p>
  <% end %>
</div>
<div>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
</div>
<div>
  <%= link_to "Profile " , "/profile", method: :get  %>
</div>
